body{
    margin: 0;
    padding: 0;
    
}

#menu{
    background-color: #D7C2AE;
    overflow: hidden;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    position: fixed;
}
footer {
    background-color: #333;
    color: #3B3B3B;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#lletra {
    color: #3B3B3B;
}